main {
    display: flex;
    flex-direction: row;
}

#filtros-container {
    display: flex;
    flex-direction: column;
    min-width: 80px;
    min-width: 300px;
    width: 20%;
    height: 80vh;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 2rem;
    border: 2.5px #fff solid; 
    padding: 2rem;
    animation: fadeIn 2s ease-out forwards, slideIn 1s ease-out forwards;
}

#catalogos {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 1rem;
    padding-bottom: 50vh;
    overflow-y: auto;
}

#deseados {
    display: flex;
    flex-direction: column;
}

.section-title {
    display: flex;
    flex-direction: row;
    height: 2.3rem;
    margin-bottom: 1.5rem;
    animation: fadeIn 2s ease-out forwards;
}

.section-title span {
    background: #fff;
    height: 100%;
    min-width: 0.5rem;
}

.section-title h2 {
    margin-left: 0.8rem;
}

#deseados-lista {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
    animation: fadeIn 2s ease-out forwards, slideIn 0.5s ease-out forwards;
}

#deseados-lista li {
    list-style: none;
    margin-left: 1rem;
}

#catalogos-lista {
    margin-top: 2rem;
    animation: fadeIn 2s ease-out forwards, slideIn 1.5s ease-out forwards;
}

#catalogos-ul-lista {
    display: grid;
    width: 45%;
    height: 100%;      
    padding: 20px;
    list-style: none;
}


/* Catalogo item class */
.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 380px;
    border: 2.5px #fff solid;
    border-radius: 2rem;
}

.catalogo figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35%;
    margin-top: 1.3rem;

}

.catalogo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.catalogo h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.catalogo-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.3rem auto;
}

.catalogo-price h4 {
    font-size: 25px;
    font-weight: 400;
}

.catalogo-price span {
    display: flex;
    color: #EA3232;
    font-size: 12px;
    transform: translateY(-5px);
}

.catalogo-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4rem;
    width: 100%;
}

.catalogo-buttons button {
    width: 85%;
    min-height: 2rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    color: #2C3036;
    font-weight: 500;
    transition: all 0.2s ease;
}

.catalogo-buttons button:nth-child(1) {
    background: #9BEA19;
    margin: 0.5rem auto;
}

.catalogo-buttons button:hover {
    filter: brightness(0.7);
}

#filter-form {
    width: 100%;
    margin-top: 1rem;
}

.filter-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.2rem;
    margin-bottom: 1rem;
}

.filter-group:not(:first-of-type) label {
    margin-right: 1rem;
    width: 40%;
}

.filter-group select {
    background: none;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

.filter-group:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.filter-group:nth-child(1) #price-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#filter-form button {
    background: #9BEA19;
    color: #2C3036;
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.2s ease;
}

#filter-form button:hover {
    filter: brightness(0.7);
}

/* Custom input range */

.filter-group:nth-child(1) #price-slide input {
    width: 100%;
    margin: 0.5rem auto;
}

.filter-group:nth-child(1) #price-slide input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: transparent; /* Hide the default background */
}

/* Webkit browsers */
.filter-group:nth-child(1) #price-slide input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #ddd; /* Default color of the track */
    border-radius: 5px;
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #9BEA19; /* Border color of the thumb */
    cursor: pointer;
    margin-top: -5px; /* Centers the thumb on the track */
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #ddd; /* Default color of the track */
    border-radius: 5px;
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-moz-range-progress {
    background: #9BEA19;
    height: 10px;
    border-radius: 5px;
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #9BEA19; /* Border color of the thumb */
    cursor: pointer;
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-ms-fill-lower {
    background: #9BEA19;
    border-radius: 5px;
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-ms-fill-upper {
    background: #ddd;
    border-radius: 5px;
}

.filter-group:nth-child(1) #price-slide input[type="range"]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #9BEA19; /* Border color of the thumb */
    cursor: pointer;
    margin-top: 0; /* Centers the thumb on the track */
}