main {
    display: flex;
    flex-direction: row;
}

#filtros-container {
    display: flex;
    flex-direction: column;
    min-width: 80px;
    min-width: 300px;
    width: 20%;
    height: 80vh;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 2rem;
    border: 2.5px #fff solid; 
    padding: 2rem;
    animation: fadeIn 2s ease-out forwards, slideIn 1s ease-out forwards;
}

#catalogos {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 1rem;
    padding-bottom: 50vh;
    overflow-y: auto;
}

#deseados {
    display: flex;
    flex-direction: column;
}

.section-title {
    display: flex;
    flex-direction: row;
    height: 2.3rem;
    margin-bottom: 1.5rem;
    animation: fadeIn 2s ease-out forwards;
}

.section-title span {
    background: #fff;
    height: 100%;
    min-width: 0.6rem;
}

.section-title h2 {
    margin-left: 0.8rem;
}

#deseados-lista {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
    animation: fadeIn 2s ease-out forwards, slideIn 0.5s ease-out forwards;
}

#deseados-lista li {
    list-style: none;
    margin-left: 1rem;
}

#catalogos-lista {
    margin-top: 2rem;
    animation: fadeIn 2s ease-out forwards, slideIn 1.5s ease-out forwards;
}

#catalogos-ul-lista {
    display: grid;
    width: 45%;
    height: 100%;      
    padding: 20px;
    list-style: none;
}


/* Catalogo item class */
.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
    border: 2.5px #fff solid;
    border-radius: 2rem;
}

.catalogo figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35%;
    margin-top: 1rem;

}

.catalogo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.catalogo h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.catalogo-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.3rem auto;
}

.catalogo-price h4 {
    font-size: 25px;
    font-weight: 400;
}

.catalogo-price span {
    display: flex;
    color: #EA3232;
    font-size: 12px;
    transform: translateY(-5px);
}

.catalogo-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4rem;
    width: 100%;
}

.catalogo-buttons button {
    width: 85%;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
}

.catalogo-buttons button:nth-child(1) {
    margin-bottom: 0.5rem;
}